:root{
     --backroundcolortoqkok:#014E56;
     --hover:#F67E7E;
     --oq:#fff;
     --qora:black;
     --hrcolor:#79C8C7;
     --bacroundcolormain:#012F34;
     --span:#79C8C7;
     --mainbacroundcolor:#002529;
     --aboutbacrountcolor:#004047;
}